sudo: required
language: python
python:
  - '3.6'
services:
  - docker
before_install:
  - openssl aes-256-cbc -K $encrypted_4f2906480808_key -iv $encrypted_4f2906480808_iv -in deploy_key.enc -out ./deploy_key -d
  - docker-compose up -d
  - docker ps -a
script:
  - docker exec howoldis make --directory / test
#  - ls app/tests/*.sh | parallel
deploy:
  provider: script
  skip_cleanup: true
  script: chmod 600 deploy_key && ssh -p 2222 -o StrictHostKeyChecking=no -i ./deploy_key howoldis@piumalab.org './deploy.sh'
  on:
    branch: master

install:
