{% extends "base.html" %}

{% block title %}How old is ... ?{% endblock %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/specific.css') }}" />
{% endblock %}

{% block extra_js %}
<!-- set global variable to prefix to the root application -->
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}

{% block our_extra_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.autocomplete.min.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ajax.js') }}" ></script>
{% endblock %}

{% block footer %}
{% endblock %}

